* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

html {
  font-size: 62.5%;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(41, 40, 40);
}

.wrapper {
  height: 90vh;
  width: 140rem;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url('lampe.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 2rem;
  box-shadow: 1rem 1rem 6rem rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;

}

.nav {
  height: 10%;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  font-family: 'Signika Negative';


}

.about {
  position: absolute;
  height: 100%;
  width: 30%;
  margin-top: 4rem;
  left: 7rem;
  display: flex;
  justify-content: space-between;

}

.about a {
  color: #807f7f;
  text-shadow: 0rem 1rem 4rem rgba(158, 152, 152, 0.5);
}

.social-media {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 104rem;
  font-size: 3rem;
  color: #807f7f;
  margin-top: 2rem;

}

.social-media i {
  cursor: pointer;
}

.hidden-title {
  font-size: 23rem;
  font-family: 'Ubuntu';
  color: rgba(82, 81, 81, 0.1);
  letter-spacing: 1.2rem;

}

.main-title {
  font-family: 'Great Vibes';
  color: #807f7f;
  font-size: 10rem;
  letter-spacing: 1rem;
  position: absolute;
  top: 19rem;
  left: -7rem;
  transform: translate(50%, 50%);
}

.know {
  position: absolute;
  top: 80%;
  right: 10rem;
  color: #fff;
  font-family: 'Signika Negative';
  font-size: 2rem;
  text-align: right;
}

.know h3 {
  font-size: 4rem;
}

.know span {
  margin-right: 2rem;
}

.know a {
  color: #fff;
}